<!-- footer -->
    <footer class="content-section">

        <div class="container">

            <div class="row text-center">

                <div class="col-sm-12 mb25">

                    <a class="btn btn-primary btn-social-icon btn-rounded btn-outline btn-sm smooth-scroll mb25" href="#top">
                        <i class="ti-angle-up"></i>
                    </a>

                    <br>

                    <a class="btn btn-social-icon btn-twitter btn-rounded btn-lg ml5 mr5" href="http://twitter.com/code2co">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a class="btn btn-social-icon btn-facebook btn-rounded btn-lg ml5 mr5" href="http://facebook.com/code2co">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="btn btn-social-icon btn-github btn-rounded btn-lg ml5 mr5" href="http://github.com/code2co">
                        <i class="fa fa-github"></i>
                    </a>

                </div>

                <div class="col-sm-12 mb25">
                    <p>Made with&nbsp;<i class="ti-heart text-danger"></i>&nbsp;in Turkey</p>
                    <small class="show">&copy;&nbsp;Copyright <span class="color">Code2</span>&nbsp;&nbsp;<span class="year"></span>. All rights reserved.</small>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->