<!-- menu navigation -->
    <header class="header">
        <div class="container">
            <nav class="heading-font">

                <!-- branding -->
                <div class="branding">
                    <!-- toggle menu -->
                    <button type="button" class="mobile-toggle">
                        <span class="ti-menu"></span>
                    </button>
                    <!-- /toggle menu -->

                    <a href="index.html" class="logo">
                        <img src="img/logo.png">                    
                    </a>
                </div>
                <!-- /branding -->

                <!-- links -->
                <div class="navigation spy">
                    <ul class="nav">
                        <li class="hide">
                            <a href="#top"></a>
                        </li>
                        <li>
                            <a href="#features">Projects</a>
                        </li>
                        <li>
                            <a href="#testimonials">Testimonials</a>
                        </li>
                        <li>
                            <a href="#standards">Standards</a>
                        </li>
                        <li>
                            <a href="#team">Our Team</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>

                        <li>
                            <a href="mailto:hello@code2.co" class="nav-btn btn btn-info">Hire Us!</a>
                        </li>
                    </ul>
                </div>
                <!-- /links -->
            </nav>
        </div>

    </header>
    <!-- /menu navigation -->
    <!-- comment comment  -->